.navbar {
    border-radius: 0;
    background-color: #681182;
  }
  
  .logo{
    width: 80px;
    padding-right: 10px;
  }

  .navbar-brand {
    font-size: 0px;
    font-weight: bold;
  }

  .rodape {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: #212529;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  